$claroS: #E4BB97;
$claro: #FEF5EF;
$oscuro: #584B53;
$oscuroS: #453941;

@mixin d-flex-column($row,$start){
    display: flex;
    flex-direction: $row;
    justify-content: center;
    align-items: $start;
}

@mixin py{
    padding: 15% 0;
}

