$claroS: #5e9fca;
$claro: #ffece0;
$oscuro: #22405a;
$oscuroS: #173753;

@mixin d-flex-column($direc,$align){
    display: flex;
    flex-direction: $direc;
    justify-content: center;
    align-items: $align;
}

@mixin py{
    padding: 15% 0;
}

